@media (max-width:2000px){
  
}

@media (max-width:1400px){

}


@media (max-width:1300px){

}

@media (max-width:1200px){

}

@media (max-width:991px){

}

@media (max-width:768px){

}

@media (max-width:640px){

}

@media (max-width:480px){
.log-box {
    padding: 60px 20px;
}
.form-box {
    padding: 60px 20px;
}
}

@media (max-width:320px){

}